.headerSection {
    
    font-family: "Butterfly Kids", cursive;
    font-weight: 500;
    font-style: normal;
    background-color: #26292E;
    color: white;
}

.headerSection h1 {
    
}

.landingSection {
    
    background-color: #E7718B;
    color: white;
}

.landingSection p {
    font-size: 1.2rem;
}



.landingSection button {
    background-color: #26292E;
}

.infoSection {
    background-color: rgb(243, 243, 243);
}