.headerSection {
    padding-left: 10%;
    padding-right: 10%;
    font-family: "Butterfly Kids", cursive;
    font-weight: 500;
    font-style: normal;
    background-color: #26292E;
    color: white;
}



.landingSection {
    padding-left: 10%;
    padding-right: 10%;
    background-color: #E7718B;
    color: white;
}

.landingSection p {
    font-size: 1.2rem;
}



.landingSection button {
    background-color: #26292E;
}

.infoSection {
    padding-left: 10%;
    padding-right: 10%;
    background-color: rgb(243, 243, 243);
    border-bottom: 2px #E7718B solid;
}

.productSection {
    padding-left: 10%;
    padding-right: 10%;
}


footer {
    background-color: #26292E;
    color: white;
}